

.digit {
}

.segment {
  border-radius: 5rem !important;
}

.vertical_segment {
  height: 50px; 
  width: 12px;
}

.horizontal_segment {
  width: 40px;
  height: 12px;
}

.f_segment { grid-area: fsegment }
.a_segment { grid-area: asegment }
.b_segment { grid-area: bsegment }
.c_segment { grid-area: csegment }
.d_segment { grid-area: dsegment }
.e_segment { grid-area: esegment }
.g_segment { grid-area: gsegment }

.active_segment {
    background: rgb(255, 48, 48); 
}

.inactive_segment {
    background: rgba(61, 61, 61, 0.596); 
}

.grid_container {
  display: grid;
  grid-template-areas:
      '.        asegment .'
      'fsegment .        bsegment'
      '.        gsegment .'
      'esegment .        csegment'
      '.        dsegment .';
  width: fit-content;
  margin: auto;
}