* { 
  margin: 0; 
  padding: 0; 
}

.digit {
}

.segment {
  border-radius: 5rem !important;
}

.vertical-segment {
  height: 80px; 
  width: 20px;
}

.horizontal-segment {
  width: 70px;
  height: 20px;
  margin: 0px 5px;
}

.f-segment { grid-area: fsegment }
.a-segment { grid-area: asegment }
.b-segment { grid-area: bsegment }
.c-segment { grid-area: csegment }
.d-segment { grid-area: dsegment }
.e-segment { grid-area: esegment }
.g-segment { grid-area: gsegment }

.grid-container {
  display: grid;
  grid-template-areas:
    '.        asegment .'
    'fsegment .        bsegment'
    '.        gsegment .'
    'esegment .        csegment'
    '.        dsegment .';
  width: fit-content;
  padding: 20px;
  margin: auto;
  background-color: #222222;
}

.active-segment {
  background: rgb(255, 60, 60); 
}

.inactive-segment {
  background: rgb(65, 65, 65); 
}